form * {
    display: block;
    width: 30%;
    margin: 1em;
}

select * {
    margin: 1em
}

tr:nth-child(even) {
    background-color: #E6E6FA
}

td, th {
    border: 1px solid #ddd;
    padding: 8px
  }

th {
    background-color: #513191;
    color: white
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

tr:hover {background-color: #ddd;}

h1 {
    color: black;
    text-shadow: 1px 1px 2px #513191;
  }

table {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

input[type=submit] {
    padding:5px 15px; 
    background:#513191; 
    color: white;
    border:0 none;
    cursor:pointer;
    border-radius: 10px
}

input[type=text], input[type=number] {
    border: none;
    margin-bottom: 10px;
    color: #bfc0c0;
    background: white;
    padding: 10px;
    font-size: 12px;
    border-radius: 10px;
    box-shadow: inset 5px 5px 5px rgb(249, 247, 247), inset -5px -5px 5px rgb(249, 247, 247);
    outline: none;
}
    

