form * {
    display: block;
    width: 30%;
    margin: 1em
}

select * {
    margin: 1em
}

tr:nth-child(even) {
    background-color: #E6E6FA
}

td, th {
    border: 1px solid #ddd;
    padding: 8px
  }

th {
    background-color: #513191;
    color: white
}